
<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>

  <!-- ovo učitava ORIGINALNU temu -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>
  <div class="wrapper">

    <header>
      {% if site.logo %}
        <img src="{{ site.logo | relative_url }}" alt="logo">
      {% endif %}

      <h1>{{ site.title }}</h1>
      <p>{{ site.description }}</p>

      <!-- NAMERNO NEMA GitHub dugmeta -->
    </header>

    <section>
      {{ content }}
    </section>

  </div>
</body>
</html>
